html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Lighthouse Personal Use';
  font-weight: 400;
  font-style: normal;
  src: local("Lighthouse"), url("../fonts/Lighthouse Personal Use.woff2") format("woff2"), url("../fonts/Lighthouse Personal Use.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Mont-Regular';
  font-weight: 400;
  font-style: normal;
  src: local("Mont-Regular"), url("../fonts/Mont-Regular.woff2") format("woff2"), url("../fonts/Mont-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Mont-Bold';
  font-weight: 600;
  font-style: normal;
  src: local("Mont-Bold"), url("../fonts/Mont-Bold.woff2") format("woff2"), url("../fonts/Mont-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Mont-Black';
  font-weight: 800;
  font-style: normal;
  src: local("Mont-Black"), url("../fonts/Mont-Black.woff2") format("woff2"), url("../fonts/Mont-Black.woff") format("woff");
  font-display: swap;
}

.title, .slider-item__title, .about-us__title, .our-clients__info-title {
  font-family: "Lighthouse Personal Use", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.slider-item__price-text, .reviews-slider__text, .why__item-text, .our-clients__info-text, .our-history__text, .our-values__text, .footer-inner__copyright, .footer-inner__privacy, .footer-inner__list-link, .footer-inner__list-adress {
  font-family: "Mont-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header-nav__link, .our-product__span, .sales-slider__text, .new-slider .sales-slider__price-old, .copper__text, .reviews-slider__name, .about-us__blockquote, .breadcrumbs__link, .our-values__item-text {
  font-family: 'Mont-Bold';
  font-weight: 600;
  font-style: normal;
}

.header-nav__link:hover, .slider-item__subtitle, .slider-item__price-num, .sales-slider__num, .reviews-slider__date, .why__item-title, .why__item-link, .breadcrumbs__item:last-child .breadcrumbs__link, .our-clients__content-num, .footer-inner__title {
  font-family: "Mont-Black", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.slider-item__buy, .sales-slider__go-to, .new .sales-slider__go-to, .copper__link, .recommend__link {
  border: none;
  width: 327px;
  padding: 16px 0 17px;
  background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
  font-family: "Mont-Regular", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  color: #fff;
}

body {
  overflow-x: clip;
}

html::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

html::-webkit-scrollbar-thumb {
  background: #434343;
  border-radius: 16px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

html::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111);
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1428px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 50px;
  line-height: 37px;
  text-align: center;
  color: #031412;
  margin-bottom: 46px;
}

.header {
  background: linear-gradient(285.45deg, #0b3f37 38.27%, #cb8d62 141.81%);
}

.header {
  position: relative;
  z-index: 3;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 44px 0 73px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-left: 77px;
}

.header-nav__item + .header-nav__item {
  margin-left: 50px;
}

.header-nav__item {
  display: inline-block;
}

.header-nav__link {
  font-size: 16px;
  line-height: 15px;
  color: #fff;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.header-nav__link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #5e3928;
}

.header-nav__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 6px;
}

.header-nav__wrap-link + .header-nav__wrap-link {
  margin-left: 20px;
}

.header-nav__wrap-link {
  width: 50px;
  height: 83px;
  background-color: #fff;
  position: relative;
}

.header-nav__wrap-link img {
  position: absolute;
  bottom: 13px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-wrap {
  position: relative;
}

.slider {
  margin-top: -160px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  padding: 0;
  border: none;
  font-size: 0;
  padding: 0;
  border: 1px solid #ffffff;
  width: 87px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  border-left: none;
}

.slider .slick-arrow.slick-next {
  right: 0;
  border-right: none;
}

.slider .slider-track {
  -webkit-transition: all 0.1s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.1s cubic-bezier(0.7, 0, 0.3, 1);
}

.slider .slick-dots {
  position: absolute;
  bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 15px;
}

.slider .slick-dots button {
  padding: 0;
  font-size: 0;
  border: none;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  cursor: pointer;
}

.slider .slick-dots li[class="slick-active"] button {
  background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
}

.slider-item {
  background-image: url("../img/bg.jpg");
  height: 100vh;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  padding: 223px 0 233px;
  -webkit-transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
}

.slider-item__title {
  font-size: 100px;
  line-height: 75px;
  color: #fff;
  padding: 0;
  padding-bottom: 50px;
  margin-bottom: 50px;
  position: relative;
}

.slider-item__title::after {
  position: absolute;
  content: "";
  width: 623px;
  height: 1px;
  left: 1px;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(-0.02%, #ffffff), color-stop(100.02%, rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #ffffff -0.02%, rgba(255, 255, 255, 0) 100.02%);
}

.slider-item__subtitle {
  width: 465px;
  font-size: 50px;
  line-height: 48px;
  color: #fff;
  margin-bottom: 50px;
  margin-bottom: 41px;
}

.slider-item__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 41px;
}

.slider-item__price-text {
  font-size: 30px;
  line-height: 29px;
  color: #fff;
  margin-right: 109px;
}

.slider-item__price-num {
  font-size: 30px;
  line-height: 29px;
  color: #fff;
}

.slider-item__buy {
  display: inline-block;
  margin-bottom: 71px;
}

.slider-item__link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.our-product {
  padding: 40px 0;
}

.our-product__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
}

.our-product__link {
  background-color: tomato;
  display: inline-block;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.our-product__link:hover {
  -webkit-box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  background: linear-gradient(351.3deg, rgba(203, 141, 98, 0) 33.24%, #cb8d62 104.72%);
}

.our-product__link:hover .our-product__info::after {
  background: linear-gradient(351.3deg, rgba(203, 141, 98, 0) 33.24%, #cb8d62 104.72%);
}

.our-product__item {
  width: 445px;
  height: 491px;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}

.our-product__info {
  width: 100%;
  height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  padding-bottom: 27px;
}

.our-product__info::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(7, 44, 38, 0.5)), to(rgba(7, 44, 38, 0)));
  background: linear-gradient(180deg, rgba(7, 44, 38, 0.5) 0%, rgba(7, 44, 38, 0) 100%);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.our-product__span {
  font-size: 30px;
  line-height: 29px;
  text-align: center;
  color: #fff;
  z-index: 1;
}

.sales {
  padding: 40px 0;
  background-color: #f7f7f7;
}

.sales-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 31px;
          column-gap: 31px;
}

.sales-slider__item {
  display: block;
  background-color: #cb8d62;
}

.sales-slider__card {
  max-width: 446px;
  overflow: hidden;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.sales-slider__card:hover {
  -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
}

.sales-slider__images {
  width: 446px;
  height: 491px;
  position: relative;
}

.sales-slider__images img {
  width: 446px;
  height: 491px;
  -o-object-fit: cover;
     object-fit: cover;
}

.sales-slider__images .sales-slider__heart {
  width: 63px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.sales-slider__info {
  padding-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.sales-slider__text {
  width: 257px;
  font-size: 20px;
  line-height: 19px;
  color: #031412;
}

.sales-slider__num {
  font-size: 30px;
  line-height: 29px;
  color: #031412;
}

.sales-slider__go-to {
  display: block;
  margin: 99px auto 0;
}

.sales-slider .slider-track {
  -webkit-transition: all 0.1s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.1s cubic-bezier(0.7, 0, 0.3, 1);
}

.sales-slider .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  padding: 0;
  border: none;
  font-size: 0;
  padding: 0;
  border: 1px solid #031412;
  width: 87px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sales-slider .slick-arrow.slick-prev {
  left: 0;
  border-left: none;
}

.sales-slider .slick-arrow.slick-next {
  right: 0;
  border-right: none;
}

.new {
  padding: 40px 0;
}

.new .sales-slider__go-to {
  display: block;
  margin: 0 auto;
}

.new-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-bottom: 68px;
  margin-bottom: 42px;
}

.new-slider .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  padding: 0;
  border: none;
  font-size: 0;
  padding: 0;
  border: 1px solid #ffffff;
  width: 87px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-slider .slick-arrow.slick-prev {
  left: 0;
  border-left: none;
}

.new-slider .slick-arrow.slick-next {
  right: 0;
  border-right: none;
}

.new-slider .slick-dots {
  position: absolute;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.new-slider .slick-dots button {
  padding: 0;
  font-size: 0;
  border: none;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  cursor: pointer;
  background: #031412;
}

.new-slider .slick-dots li[class="slick-active"] button {
  background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
}

.new-slider .sales-slider__item {
  width: 446px;
}

.new-slider .sales-slider__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.new-slider .sales-slider__price-old {
  font-size: 20px;
  line-height: 19px;
  color: #031412;
  opacity: 0.3;
  margin-bottom: 5px;
  position: relative;
}

.new-slider .sales-slider__price-old::after {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #031412;
  top: 0;
  width: 84px;
  -webkit-transform: rotate(10.8deg);
          transform: rotate(10.8deg);
  left: 0;
  top: 8px;
}

.new-slider .sales-slider__price-new {
  color: #9b0000;
}

.new-slider__sale {
  position: absolute;
  top: 27px;
  left: 0;
  background: #9b0000;
  padding: 9px 17px 8px 18px;
  font-family: Mont;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.copper {
  padding: 80px 0;
  position: relative;
}

.copper::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(285.45deg, #0b3f37 38.27%, #cb8d62 141.81%);
  z-index: -1;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.copper__title {
  font-size: 140px;
  line-height: 74.9%;
  color: #fff;
  margin-bottom: 50px;
}

.copper__text {
  width: 533px;
  font-size: 35px;
  line-height: 96.4%;
  color: #fff;
  margin-bottom: 50px;
}

.copper__link {
  padding: 16px 76px;
}

.recommend {
  padding: 80px 0;
}

.recommend__link {
  display: block;
  margin: 0 auto;
}

.recommend__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 101px;
  margin-bottom: 42px;
}

.recommend .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  padding: 0;
  border: none;
  font-size: 0;
  padding: 0;
  border: 1px solid #000000;
  width: 87px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recommend .slick-arrow.slick-prev {
  left: 0;
  border-left: none;
}

.recommend .slick-arrow.slick-next {
  right: 0;
  border-right: none;
}

.recommend .slick-dots {
  position: absolute;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.recommend .slick-dots button {
  padding: 0;
  font-size: 0;
  border: none;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  cursor: pointer;
  background: #031412;
}

.recommend .slick-dots li[class="slick-active"] button {
  background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
}

.recommend .sales-slider__item {
  width: 446px;
}

.sale {
  padding: 80px 0;
  background-color: #f7f7f7;
}

.sale-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 101px;
  margin-bottom: 42px;
  position: relative;
}

.sale-slider .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  padding: 0;
  border: none;
  font-size: 0;
  padding: 0;
  border: 1px solid #000000;
  width: 87px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale-slider .slick-arrow.slick-prev {
  left: 0;
  border-left: none;
}

.sale-slider .slick-arrow.slick-next {
  right: 0;
  border-right: none;
}

.sale-slider .slick-dots {
  position: absolute;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sale-slider .slick-dots button {
  padding: 0;
  font-size: 0;
  border: none;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  cursor: pointer;
  background: #031412;
}

.sale-slider .slick-dots li[class="slick-active"] button {
  background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
}

.sale-slider .sales-slider__item {
  width: 446px;
}

.reviews {
  padding: 80px 0;
}

.reviews__title {
  margin-bottom: 40px;
}

.reviews-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 52px;
  background: #ffffff !important;
}

.reviews-slider__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  max-width: 446px;
  width: 100%;
  padding: 21px 40px 18px 30px;
  margin: 0 15px;
  background-image: url("../img/icon/union.svg");
  background-repeat: no-repeat;
  background-position: right top;
}

.reviews-slider__avatar {
  display: inline-block;
  margin-bottom: 18px;
  width: 63px;
  height: 63px;
}

.reviews-slider__avatar img {
  width: 63px;
  height: 63px;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews-slider__name {
  font-size: 25px;
  line-height: 96.4%;
  color: #031412;
  margin-bottom: 18px;
}

.reviews-slider__text {
  font-style: italic;
  font-size: 14px;
  line-height: 19px;
  color: #031412;
  margin-bottom: 18px;
}

.reviews-slider__date {
  font-size: 14px;
  line-height: 19px;
  color: #031412;
}

.reviews-slider .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  padding: 0;
  border: none;
  font-size: 0;
  padding: 0;
  border: 1px solid #000000;
  width: 87px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-slider .slick-arrow.slick-prev {
  left: 0;
  border-left: none;
}

.reviews-slider .slick-arrow.slick-next {
  right: 0;
  border-right: none;
}

.reviews-slider .slick-dots {
  position: absolute;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.reviews-slider .slick-dots button {
  padding: 0;
  font-size: 0;
  border: none;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  cursor: pointer;
}

.reviews-slider .slick-dots li[class="slick-active"] button {
  background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
}

.why {
  padding: 81px 0 75px;
}

.why__title {
  margin-bottom: 49px;
}

.why__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 34px;
}

.why__item {
  max-width: 327px;
  padding-right: 19px;
}

.why__item-img {
  width: 76px;
  height: 76px;
  margin-bottom: 24px;
}

.why__item-title {
  font-size: 20px;
  line-height: 19px;
  color: #031412;
  margin-bottom: 15px;
}

.why__item-text {
  font-size: 14px;
  line-height: 19px;
  color: #031412;
  margin-bottom: 15px;
}

.why__item-link {
  font-size: 14px;
  line-height: 19px;
  color: #5e3928;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.why__item-link img {
  margin-left: 7px;
}

.about-us {
  background-color: #f7f7f7;
}

.about-us__inner {
  padding: 39px 0 180px;
  background-image: url("../img/about-bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: inherit;
}

.about-us__title {
  font-size: 100px;
  line-height: 75px;
  color: #031412;
  padding-bottom: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
  position: relative;
}

.about-us__title::after {
  position: absolute;
  content: "";
  width: 623px;
  height: 1px;
  left: 0;
  bottom: 0;
  background: #031412;
}

.about-us__blockquote {
  max-width: 623px;
  width: 100%;
  font-style: italic;
  font-size: 50px;
  line-height: 48px;
  margin-bottom: 58px;
  text-align: center;
  background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.about-us__blockquote::before, .about-us__blockquote::after {
  position: absolute;
  content: "";
  background-image: url("../img/icon/quote-left.svg");
  width: 34px;
  height: 34px;
}

.about-us__blockquote::before {
  left: 0;
  top: 0;
}

.about-us__blockquote::after {
  right: 0;
  bottom: 0;
}

.about-us__wrap {
  width: 355px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us__text {
  font-family: Mont;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 29px;
  background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.breadcrumbs {
  margin-bottom: 128px;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs__item + .breadcrumbs__item {
  margin-left: 17px;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item::after {
  position: absolute;
  content: "";
  height: 15px;
  width: 1px;
  background: #000;
  top: 2px;
  right: -10px;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
}

.breadcrumbs__item:last-child .breadcrumbs__link {
  pointer-events: none;
  cursor: default;
}

.breadcrumbs__item:last-child::after {
  content: none;
}

.breadcrumbs__link {
  font-size: 18px;
  line-height: 17px;
  color: #031412;
}

.our-clients {
  padding: 133px 0 140px;
}

.our-clients__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-clients__info {
  max-width: 517px;
  width: 100%;
}

.our-clients__info-title {
  width: 310px;
  font-size: 50px;
  line-height: 53px;
  color: #031412;
  margin-bottom: 23px;
}

.our-clients__info-text {
  font-size: 20px;
  line-height: 25px;
  color: #031412;
}

.our-clients__content-text {
  font-family: Mont;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 48px;
  margin-bottom: 25px;
  background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.our-clients .text {
  background: url("../img/client.png");
  background-size: cover;
}

.our-clients__content-num {
  background: #fff;
  mix-blend-mode: lighten;
  font-size: 250px;
  line-height: 96.4%;
}

.our-history {
  padding: 74px 0;
  background-image: url("../img/history-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.our-history__title {
  color: #fff;
  margin-bottom: 28px;
}

.our-history__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-history__info {
  max-width: 445px;
  width: 100%;
  margin: 0 15px;
}

.our-history__text + .our-history__text {
  margin-top: 28px;
}

.our-history__text {
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.our-values {
  padding: 79px 0 81px;
}

.our-values__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-values__info {
  margin-left: 31px;
}

.our-values__title {
  width: 292px;
  text-align: left;
  margin-bottom: 40px;
}

.our-values__text {
  width: 485px;
  font-size: 20px;
  line-height: 25px;
  color: #031412;
  margin-bottom: 40px;
}

.our-values__item + .our-values__item {
  margin-top: 40px;
}

.our-values__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-values__item-text {
  width: 203px;
  font-size: 25px;
  line-height: 24px;
  color: #031412;
  margin-left: 29px;
}

.footer {
  background: linear-gradient(285.45deg, #0b3f37 38.27%, #cb8d62 141.81%);
  padding: 83px 0 74px;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-inner__card {
  max-width: 238px;
  width: 100%;
}

.footer-inner__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 684px;
  width: 100%;
  margin-left: auto;
}

.footer-inner__item {
  max-width: 208px;
  width: 100%;
  margin-left: 30px;
}

.footer-inner__copyright {
  width: 214px;
  font-size: 14px;
  line-height: 19px;
  color: #adadad;
  margin: 25px 0 21px;
}

.footer-inner__privacy {
  font-size: 14px;
  line-height: 19px;
  text-decoration: underline;
  color: #ffffff;
}

.footer-inner__title {
  font-size: 18px;
  line-height: 17px;
  color: #fff;
  margin-bottom: 15px;
}

.footer-inner__list-item + .footer-inner__list-item {
  margin-top: 15px;
}

.footer-inner__list-link, .footer-inner__list-adress {
  font-size: 14px;
  line-height: 19px;
  color: #fff;
}

.footer-inner__list-link {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.footer-inner__list-link:hover {
  text-decoration: underline;
}

.footer-inner__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-inner__social-link + .footer-inner__social-link {
  margin-left: 18px;
}

@media (max-width: 1000px) {
  .header-nav__list {
    margin-left: 45px;
  }
}

@media (max-width: 900px) {
  .header-nav__list {
    margin-left: 15px;
  }
}

@media (max-width: 768px) {
  .header-nav {
    padding-top: 30px;
    padding-bottom: 65px;
  }
  .header-nav__list {
    position: absolute;
    bottom: 0;
    left: 52px;
    margin-left: 0;
  }
  .header-nav__link:hover {
    background-color: transparent;
    color: #000;
  }
  .slider-item {
    padding: 320px 0 233px;
  }
  .about-us__inner {
    padding-top: 29px;
    background-size: 50%;
  }
  .about-us__wrap img {
    width: 145px;
    height: 70px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about-us__title {
    font-size: 60px;
    line-height: 45px;
    padding-bottom: 29px;
    margin-bottom: 40px;
  }
  .about-us__title::after {
    width: 435px;
  }
  .about-us__blockquote {
    max-width: 426px;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 56px;
  }
  .about-us__text {
    width: 114px;
    font-size: 18px;
    line-height: 96.4%;
  }
  .breadcrumbs {
    margin-bottom: 99px;
  }
  .our-clients {
    padding: 80px 0 55px;
  }
  .our-clients__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-clients__info {
    max-width: 100%;
  }
  .our-clients__info-title {
    width: 100%;
    font-size: 40px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 38px;
  }
  .our-clients__info-text {
    width: 517px;
    margin: 0 auto 90px;
    font-family: Mont;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
  .our-clients__content-text {
    font-family: Mont;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 5px;
  }
  .our-clients__content-num {
    font-size: 243px;
  }
  .our-history {
    padding: 80px 0;
  }
  .our-history__title {
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  .our-history__info {
    margin: 0 10px;
  }
  .our-values {
    padding: 109px 0 76px;
  }
  .our-values__wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .our-values__info {
    margin-left: 35px;
  }
  .our-values__images {
    width: 310px;
    height: 282px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .our-values__title {
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 11px;
  }
  .our-values__text {
    width: 323px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 42px;
  }
  .our-values__item-text {
    width: 100%;
    font-size: 16px;
    line-height: 15px;
  }
  .our-values__item + .our-values__item {
    margin-top: 14px;
  }
  .why {
    padding: 80px 0 74px;
  }
  .why__title {
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  .footer {
    padding: 80px 0;
  }
  .footer-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-inner__card {
    margin-bottom: 48px;
  }
  .footer-inner__wrap {
    margin-left: 0px;
  }
  .footer-inner__item:first-child {
    margin-left: 0px;
  }
}

@media (max-width: 605px) {
  .header-wrap {
    padding-top: 30px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .header-nav {
    padding-bottom: 115px;
    padding-top: 0;
  }
  .header-nav__list {
    display: none;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
    z-index: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1;
    bottom: 0;
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
    -webkit-transition: -webkit-transform 0.9s;
    transition: -webkit-transform 0.9s;
    transition: transform 0.9s;
    transition: transform 0.9s, -webkit-transform 0.9s;
    height: 100vh;
  }
  .header-nav__list--active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .header-nav__item + .header-nav__item {
    margin-left: 0px;
    margin-top: 20px;
  }
  .header-nav__link {
    font-size: 25px;
    line-height: 40px;
  }
  .header-nav__wrap {
    left: 50%;
  }
  .header-nav__btn {
    display: block;
    width: 60px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    z-index: 2;
    cursor: pointer;
  }
  .header-nav__btn span {
    height: 9px;
    width: 60px;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s;
  }
  .header-nav__btn span:before {
    left: 0;
    position: absolute;
    top: 35px;
    height: 9px;
    width: 60px;
    background-color: #fff;
    content: "";
    border-radius: 20px;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition: top 0.25s 0.25s, -webkit-transform 0.25s;
    transition: top 0.25s 0.25s, -webkit-transform 0.25s;
    transition: transform 0.25s, top 0.25s 0.25s;
    transition: transform 0.25s, top 0.25s 0.25s, -webkit-transform 0.25s;
  }
  .header-nav__btn span:after {
    left: 0;
    position: absolute;
    top: 18px;
    height: 9px;
    width: 60px;
    background-color: #fff;
    content: "";
    border-radius: 20px;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition: top 0.25s 0.25s, -webkit-transform 0.25s;
    transition: top 0.25s 0.25s, -webkit-transform 0.25s;
    transition: transform 0.25s, top 0.25s 0.25s;
    transition: transform 0.25s, top 0.25s 0.25s, -webkit-transform 0.25s;
  }
  .header-nav__btn.open span {
    -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
    -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s;
    background: transparent;
  }
  .header-nav__btn.open span:before {
    -webkit-transition: top 0.25s, -webkit-transform 0.25s 0.25s;
    transition: top 0.25s, -webkit-transform 0.25s 0.25s;
    transition: top 0.25s, transform 0.25s 0.25s;
    transition: top 0.25s, transform 0.25s 0.25s, -webkit-transform 0.25s 0.25s;
    top: 17px;
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
  }
  .header-nav__btn.open span:after {
    -webkit-transition: top 0.4s, -webkit-transform 0.25s 0.25s;
    transition: top 0.4s, -webkit-transform 0.25s 0.25s;
    transition: top 0.4s, transform 0.25s 0.25s;
    transition: top 0.4s, transform 0.25s 0.25s, -webkit-transform 0.25s 0.25s;
    top: 17px;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
}

@media (max-width: 375px) {
  .header-nav__logo img {
    width: 116px;
    height: 31px;
  }
  .header-nav__item + .header-nav__item {
    margin-top: 41px;
  }
  .header-nav__link {
    font-size: 30px;
    line-height: 63px;
  }
  .header-nav__wrap {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    z-index: 1;
  }
  .header-nav__wrap-link {
    height: 83px;
    width: 35px;
  }
  .header-nav__wrap-link img {
    width: 20px;
    height: 20px;
  }
  .header-nav__btn {
    width: 40px;
    height: 40px;
  }
  .header-nav__btn span {
    height: 9px;
    width: 40px;
    border-radius: 5px;
  }
  .header-nav__btn span:before {
    width: 40px;
    border-radius: 5px;
  }
  .header-nav__btn span:after {
    width: 40px;
    border-radius: 5px;
  }
  .breadcrumbs {
    margin-bottom: 40px;
  }
  .about-us__title {
    font-size: 30px;
    line-height: 22px;
    padding-bottom: 21px;
    margin-bottom: 16px;
  }
  .about-us__title::after {
    width: 155px;
  }
  .about-us__blockquote {
    max-width: 300px;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 13px;
    height: 91px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-us__text {
    width: 96px;
    font-size: 16px;
    line-height: 15px;
  }
  .about-us__wrap {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .our-clients {
    padding: 40px 0 23px;
  }
  .our-clients__title {
    font-size: 20px;
    line-height: 15px;
    margin-bottom: 17px;
  }
  .our-clients__info-text {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 0 auto 50px;
  }
  .our-clients__content-text {
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 12px;
  }
  .our-clients__content-num {
    font-size: 100px;
    line-height: 96px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .our-history {
    padding: 40px 0;
  }
  .our-history__title {
    font-size: 20px;
    line-height: 15px;
    margin-bottom: 22px;
  }
  .our-history__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-values {
    padding: 43px 0 36px;
  }
  .our-values__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 28px;
  }
  .our-values__info {
    margin-left: 0;
  }
  .our-values__title {
    width: 100%;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 6px;
  }
  .our-values .our-values__text {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .our-values__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .our-values__item-text {
    width: 130px;
  }
  .why {
    padding: 40px 0px;
  }
  .why__title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 27px;
  }
  .why__item {
    max-width: 150px;
    padding-right: 0px;
  }
  .why__item-title {
    font-size: 16px;
    line-height: 15px;
    margin-bottom: 14px;
  }
  .why__item-text {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 11px;
  }
  .footer {
    padding: 40px 0;
  }
  .footer-inner__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 30px;
  }
  .footer-inner__item {
    max-width: 160px;
    margin-left: 0;
  }
  .footer-inner__title {
    font-size: 16px;
    line-height: 15px;
    margin-bottom: 16px;
  }
}

@media (max-width: 320px) {
  .header-nav__wrap-link:first-child {
    opacity: 0;
  }
  .footer-inner__wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-inner__item {
    max-width: 100%;
    text-align: center;
  }
  .footer-inner__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */