html::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

html::-webkit-scrollbar-thumb {
  background: #434343;
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

html::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111);
}
.container {
  //max-width: 1328px;
  max-width: 1428px;
  margin: 0 auto;
  padding: 0 15px;
  //background: #ff4646;
}

.title {
  @extend %Lighthouse-400;
  font-size: 50px;
  line-height: 37px;
  text-align: center;
  color: #031412;
  margin-bottom: 46px;
}
